.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/.quarto/

# Local Netlify folder
.netlify
.quarto
data-input/orgchart/orgchart.xml
data-input/ovm.json
data-input/cis_sluz_urady.csv
data-export/*.csv
